<!--<p>
  customer-operations works!
</p>-->

<div>
  <h2>Customer Info</h2>
  <form>
    <div class="form-group">
      <label for="name-input">Name:</label>
      <input type="text" id="name-input" name="name_input" [(ngModel)]="customer.name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email-input">Email Id</label>
      <input type="email" id="email-input" name="email_input" [(ngModel)]="customer.emailId" class="form-control" />
    </div>
    <div class="form-group">
      <label for="phone-input">Phone No</label>
      <input type="tel" id="phone-input" name="phone_input" [(ngModel)]="customer.phoneNo" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" (click)="addOrUpdateCustomerRecord($event);">Save</button>

  </form>
</div>
